/*
 * Moon by GetTemplates.co
 * URL: https://gettemplates.co
 */

@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  /* IPWIJA rgb(0 52 115); hsl (213 100% 22.5%) */
  /* Rimba hsl (28 71% 57%) */
  --bgimg: url('img/photo-01.jpg');
  --herobg: url('img/photo-02.jpg');
  --pColor-h: 213;
  --pColor-s: 100%;
  --pColor-l: 22.5%;
  --pColor: hsl(var(--pColor-h), var(--pColor-s), var(--pColor-l));
  --pLightColor: hsl(var(--pColor-h), var(--pColor-s), calc(var(--pColor-l) + 15%));
  --pDarkColor: hsl(var(--pColor-h), var(--pColor-s), calc(var(--pColor-l) - 15%));
  --pTextColor: #000000;
  --pButtonColor: #fff;
  --pPage: #f2f2f2;
  --gInput: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #212529;
  line-height: 1.5em;
}

body:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  z-index: -1;
  background: linear-gradient(to right, var(--pLightColor) 0%, var(--pDarkColor) 100%);
}

a::before {
  content: " ";
}

/* Struktur grid kolom */
.row {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.row::after {
  content: "";
  clear: both;
}

[class*='col-'] {
  float: left;
  word-wrap: break-word;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

/* Penyesuaian media query */
@media screen and (max-width: 700px) {
  [class*='col-'] {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  [class*='col-'] {
    width: 100%;
  }
  .logo img {
    height: 23px;
    width: auto;
  }
}

.hero {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 500px;
  background-image: var(--herobg);
}

@keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
}

/* SVG */
svg {
  stroke: black;
  fill: none;
  height: 25px;
  width: 25px;
}

svg:hover {
  stroke: red;
}
